version: 2
updates:
  - package-ecosystem: npm
    directory: /source/cli
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
    labels:
      - dependencies
    groups:
      dev-dependencies:
        dependency-type: development
      production-dependencies:
        dependency-type: production

  - package-ecosystem: npm
    directory: /docs
    schedule:
      interval: monthly
    open-pull-requests-limit: 5
    labels:
      - dependencies
      - docs

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    open-pull-requests-limit: 5
    labels:
      - dependencies
      - ci
